.container-fluid
{
  padding: 0;
}


nav
{
  padding-top: 20px;
  padding-bottom: 10px;
  margin: 0;
  box-shadow: 0 1px 1px 1px #C7C7C7;
}

.nav-link
{
  font-family: 'Lato';
  font-size: 1.2em;
  margin: 0 20px;
  color: #727272;
  text-align: center;
  transition: all ease-in 0.2s;
}

.nav-link i
{
  margin : 0 5px;
}

.nav-link:hover
{
  color: #DD4B39;
}

.nav-link:active
{

}

.card-title
{
  color: #3CBA54;
}

.main
{
  margin-top: 40px;
}

.graph
{
  margin-top: 40px;
  margin-bottom: 40px;
}
